<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Q&A forum</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Ask Questions about Demo Day! </h1>
  <p>Utilize this forum to ask further details on location, requirements, dealines, and more. 
    This platform is meant to help in your preperations for your big day! </p>
  <strong>May the Code be with you</strong>

  <h2>Add a Question:</h2>

  <form action="/messages" method="POST">
    <input type="text" placeholder="name" name="name">
    <textarea id="question" rows="6" cols="30" placeholder="Type Question Here..." name="question"></textarea>
    
    <button id="submitQuestion" type="submit">Submit</button>
  </form>

  <h3>Questions to answer:</h3>
  <ul class="messages">
  <% for(var i=0; i<hatenotes.length; i++) {%>
    <li class="message">
      <span><%= hatenotes[i].name %></span>
      <span><%= hatenotes[i].msg %></span>
      <textarea id="answer" rows="6" cols="30" placeholder="Type Answer Here..." name="answer" value="<%= ansr %>"></textarea>
      <p><button id="submitAnswer" type="submit">Submit</button></p>
      <span>
        <%= hatenotes[i].ansr %>
      </span>
      
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  

  <script src="main.js"></script>

</body>
</html>
